langchain-community==0.0.34
langchain-openai==0.1.3
langchain-mongodb==0.1.3
lark==1.1.9
pymongo==4.6.3
bs4==0.0.2
openai==1.23.2 
tiktoken==0.6.0 
gradio==4.29.0 
requests==2.31.0 
lxml==5.2.1 
argparse 
unstructured==0.13.3